<template>
    <v-card>
        <v-card-title>
            <span class="headline">Create User</span>
        </v-card-title>
        <v-card-text>
            <v-container grid-list-md>
                <v-layout wrap>
                    <v-flex xs12>
                        <v-text-field
                                label="Name"
                                persistent-hint
                                :counter="50"
                                :rules="[rules.max,rules.required]"
                                v-model="name"
                                required
                        ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field label="Email"
                                      v-model="email"
                                      :counter="50"
                                      :rules="[rules.email,rules.max,rules.required]"
                                      required>
                        </v-text-field>
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field label="Password"
                                      v-model="password"
                                      hint="More than 6 characters "
                                      :counter="50"
                                      :rules="[rules.password,rules.max,rules.required]"
                                      type="password"
                        >
                        </v-text-field>
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field
                                label="Confirm password"
                                v-model="password_confirm"
                                :counter="50"
                                :rules="[rules.password_confirm,rules.max,rules.required]"
                                type="password"
                        >
                        </v-text-field>
                    </v-flex>
                </v-layout>
            </v-container>
            <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="closeModal()">Close</v-btn>
            <v-btn color="blue darken-1" flat @click="sendForm()" >Save</v-btn>
        </v-card-actions>
    </v-card>
</template>
<script>
    export default {

        data() {
            return {
                name: '',
                email: '',
                password: '',
                password_confirm: '',
                rules: {
                    required: (value) => !!value || 'Required.',
                    max:(value) => {
                        return value.length<50 || 'not more than 50 characters'
                    },
                    email: (value) => {
                        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                        return pattern.test(value) || 'Invalid e-mail.'
                    },
                    password: (value) => {
                        return value.length > 6 || 'More than 6 characters'
                    },
                    password_confirm: (value) => {
                        return value == this.password || 'Passwords are not the same'
                    }
                }
            }
        },

        methods: {

            RefreshUserData(){
                this.name='';
                this.email='';
                this.password= '';
                this.password_confirm= '';
            },
            closeModal(){
                this.RefreshUserData();
                bus.$emit('modalUser');
            },

            sendForm(){
                axios
                    .post('/users',{
                            name:this.name,
                            email:this.email,
                            password:this.password,
                            password_confirmation:this.password_confirm,
                    })

                    .then(response=>{
                        bus.$emit('refresh-users');
                        this.RefreshUserData();
                    })

                    .catch(e=>{
                        this.$swal({
                            type: 'error',
                            text: e,
                        });
                    });

                this.closeModal();
            },

        },

        mounted(){

        },
    }
</script>