<template>
    <v-container fluid fill-height>
        <v-layout justify-center align-center>
                <v-flex xs12 sm6 offset-sm3>
                    <div v-if="error" class="error">
                        <p>{{ error }}</p>
                        <p>
                            <button @click.prevent="fetchData">
                                Try Again
                            </button>
                        </p>
                    </div>
                    <v-card v-if="users">
                        <v-list>
                            <v-list-tile
                                    v-for="user in users"
                                    :key="user.id"
                                    avatar
                                    @click=""
                            >
                                <v-list-tile-content>
                                    <v-list-tile-title>{{user.name}} {{user.surname}} </v-list-tile-title>
                                </v-list-tile-content>
                                <v-list-tile-avatar>
                                    <img :src="user.avatar">
                                </v-list-tile-avatar>
                            </v-list-tile>
                        </v-list>
                        <div class="text-xs-center" v-if="length_page">
                            <v-pagination
                                    v-model="page"
                                    :length="meta.last_page"
                                    circle
                            ></v-pagination>
                        </div>
                    </v-card>
                </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    /*Get users function*/
    const getUsers = (page, callback) => {
        const params = { page };
        axios
            .get('/api/users', { params })
            .then(response => {
                callback(null, response.data);
            }).catch(error => {
            callback(error, error.response.data);
        });
    };
    export default {
        data() {
            return {
                users: null,
                meta: null,
                length_page:null,
                page:null,
                error: null,
            };
        },

        /*methods for load users before route enter*/

        beforeRouteEnter (to, from, next) {
            getUsers(to.query.page, (err, data) => {
                next(vm => vm.setData(err, data));
            });
        },
        beforeRouteUpdate (to, from, next) {
            getUsers(to.query.page, (err, data) => {
                this.setData(err, data);
                next();
            });
        },
        methods: {
            /*method for set users data*/
            setData(err, { data: users, links, meta }) {
                if (err) {
                    this.error = err.toString();
                } else {
                    this.users = users;
                    this.meta = meta;
                    this.length_page = meta.last_page;
                    this.page = meta.current_page;
                }
            },
        },
        watch:{
            /*watcher for page*/
            page: function () {
                this.$router.push({ name: 'users', query: { page: this.page } });
            }
        }
    }
</script>