<template>
        <v-card tile>
                <v-toolbar card dark color="primary">
                        <v-btn icon @click="closeModal()" dark>
                                <v-icon>close</v-icon>
                        </v-btn>
                        <v-toolbar-title>{{name}}</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-toolbar-items>
                                <v-btn dark flat v-on:click="sendForm()" >Save</v-btn>
                        </v-toolbar-items>
                </v-toolbar>
                <v-card-text>
                        <v-list three-line subheader>
                                <v-subheader>General Properties</v-subheader>
                                <v-form>
                                        <v-list-tile avatar
                                                     v-for="property in properties"
                                                     :key="property.id">
                                                        <v-list-tile-content v-if="property.name == 'title'">
                                                                <v-text-field
                                                                        label="Title"
                                                                        v-model="property.value"
                                                                        :counter="255"
                                                                        required
                                                                ></v-text-field>
                                                        </v-list-tile-content>
                                                        <v-list-tile-content v-if="property.name == 'description'">
                                                                <v-text-field
                                                                        label="Description"
                                                                        v-model="property.value"
                                                                        :counter="255"
                                                                        required
                                                                ></v-text-field>
                                                        </v-list-tile-content>
                                                        <v-list-tile-content v-if="property.name == 'time'">
                                                                <v-text-field
                                                                        label="Time"
                                                                        v-model="property.value"
                                                                        :counter="255"
                                                                        required
                                                                ></v-text-field>
                                                        </v-list-tile-content>
                                        </v-list-tile>
                                        <v-divider></v-divider>
                                        <v-subheader>Workers</v-subheader>
                                        <v-list-tile avatar>
                                                <v-list-tile-content>
                                                        <v-select
                                                                :items="users"
                                                                v-model="checkedWorkers"
                                                                label="Chose workers"
                                                                multiple
                                                                item-text="name"
                                                                item-value="id"
                                                                persistent-hint
                                                        ></v-select>
                                                </v-list-tile-content>
                                                <v-btn color="primary" dark @click="getUserCreateForm()">Create new Worker</v-btn>
                                        </v-list-tile>
                                </v-form>
                        </v-list>
                </v-card-text>
                <div style="flex: 1 1 auto;"/>
        </v-card>
</template>
<script>
    export default {
        data() {
            return {
                name:'New Project',
                author: '',
                properties:[
                    {
                        type: 'string',
                        name: 'title',
                        id: null,
                        value: ''
                    },
                    {
                        type: 'string',
                        name: 'description',
                        id: null,
                        value: ''
                    },
                    {
                        type: 'string',
                        name: 'time',
                        id: null,
                        value: ''
                    },
                ],
                users:[],
                checkedWorkers:[],
                parent_id: null,
                project_id:null,
                formType:'Create',
            }
        },
        methods: {

            closeModal(){
                bus.$emit('modal');
            },

            sendForm(){
                if(this.formType==='Edit'){
                    axios
                        .put('/projects/'+this.project_id,{
                            author: this.author.id,
                            workers: this.checkedWorkers,
                            properties:this.properties,
                        })

                        .then(response=>{
                            bus.$emit('refreshProjects');
                            this.$swal({
                                type: 'success',
                                text: response.data,
                            });
                            bus.$emit('show-project',(this.project_id));
                        })

                        .catch(e=>{
                            this.$swal({
                                type: 'error',
                                text: e,
                            });
                        });
                }
                if(this.formType==='Create'){
                    axios
                        .post('/projects',{
                            author: this.author.id,
                            properties:this.properties,
                            workers: this.checkedWorkers,
                            parent_id: this.parent_id,
                        })

                        .then(response=>{
                            bus.$emit('refreshProjects');
                        })

                        .catch(e=>{
                            this.$swal({
                                type: 'error',
                                text: e.message,
                            });
                        });
                }
                this.RefreshData();
                this.closeModal();
            },

            EditProject(project){
                this.name = 'Edit';
                this.project_id = project.id;
                this.author = project.author;
                this.properties = project.properties;
                this.formType = 'Edit';
                for (var worker in project.workers) {
                    this.checkedWorkers.push(project.workers[worker].id);
                }
            },

            RefreshData(){
                this.name = 'New Project';
                this.checkedWorkers =[];
                this.properties=[
                    {
                        type: 'string',
                        name: 'title',
                        id: null,
                        value: ''
                    },
                    {
                        type: 'string',
                        name: 'description',
                        id: null,
                        value: ''
                    },
                    {
                        type: 'string',
                        name: 'time',
                        id: null,
                        value: ''
                    },
                ];
                this.parent_id = null;

            },

            getUserCreateForm(){
                bus.$emit('modalUser');
            },

            getUsers(){
                axios
                    .post('/ajax/users')
                    .then(response=>{
                        this.author = response.data[0];
                        this.users = response.data;
                    })
                    .catch(e=>{
                        this.$swal({
                            type: 'error',
                            text: e,
                        });
                    })
            },

            createTask(id){
                this.name = 'Новый таск для №'+id;
                this.parent_id = id;
            },
        },

        mounted(){

            this.getUsers();

            let _this = this;

            bus.$on('create-tasks', (id) => {
                _this.createTask(id);
            });

            bus.$on('edit-project',(project) =>{
                _this.EditProject(project);
            });

            bus.$on('refresh-users',function(){
                _this.getUsers();
            });

            bus.$on('refresh-modal-project-data',function(){
                _this.RefreshData();
            });

        },

        watch: {

        }
    }
</script>