<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs12 align-center>
                <v-form ref="form" v-model="valid" lazy-validation>
                        <v-flex xs12 light>
                            <v-text-field
                                    v-model="title"
                                    :rules="rules.title"
                                    counter="150"
                                    type="text"
                                    hint="This field is require, and unic"
                                    label="Title"
                                    required
                            ></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-card light>
                                <v-text-field
                                        v-model="description"
                                        :counter="1000"
                                        :rules="rules.description"
                                        label="Description"
                                        full-width
                                        multi-line
                                        single-line
                                ></v-text-field>
                            </v-card>
                        </v-flex>
                        <v-btn
                            :disabled="!valid"
                            @click="Save"
                        >Save</v-btn>
                        <v-btn @click="clear">clear</v-btn>
                </v-form>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    export default {
        data () {
            return {
                valid: true,
                description: '',
                title: '',
                rules: {
                    title: [
                        v => !!v || 'Title is required',
                        v => (v && v.length <= 150) || 'Max 150 characters'
                    ],
                    description: [
                        v => !!v || 'Description is required',
                        v => (v && v.length <= 1000) || 'Max 1000 characters'
                    ],
                },
                project_id: 0,
            }
        },

        methods: {
            Save(){
                if (this.$refs.form.validate()) {
                    axios
                        .post('/api/projects', {
                            title: this.title,
                            description: this.description,
                        })
                        .then(response => {
                            this.project_id = response.data.project_new.id;
                            this.$swal({
                                type: 'success',
                                text: response.data.success,
                            }).then((value) => {
                                this.$router.push({ name: 'project_new.vue', params: { project_id: this.project_id }});
                            });
                        })
                        .catch(e => {
                            this.$swal({
                                type: 'error',
                                text: e,
                            });
                        });
                }
            },

            clear () {
                this.$refs.form.reset();
            }
        },
        mounted(){

        },
        watch:{

        }
    }
</script>