<template>
    <v-flex>
        <v-card>
            <v-card-media src="images/6.jpg" height="300px">
                <v-layout column class="media">
                    <v-card-title>
                        <v-btn dark icon v-on:click="closeProject()">
                            <v-icon>chevron_left</v-icon>
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn dark icon
                               class="mr-3"
                               v-if="(project.author)"
                               v-on:click="Edit(project)">
                            <v-icon>edit</v-icon>
                        </v-btn>
                        <v-btn dark icon>
                            <v-icon>more_vert</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-spacer></v-spacer>
                    <v-card-title class="white--text pl-5 pt-5">
                        <div class="display-1 pl-5 pt-5"
                             v-for="property in project.properties"
                             v-if="property.name == 'title'"
                             v-bind:key="property.id">
                            {{property.value}}
                        </div>
                    </v-card-title>
                </v-layout>
            </v-card-media>
            <v-list two-line>
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon color="blue">description</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content v-for="property in project.properties"
                                         v-if="property.name == 'description'"
                                         v-bind:key="property.id">
                        {{property.value}}
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon color="red">person</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title v-if="project.author">{{project.author.name}}</v-list-tile-title>
                        <v-list-tile-sub-title>Author</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-action>
                        <v-icon color="indigo">work</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title v-if="project.main_worker" >{{project.main_worker.name}}</v-list-tile-title>
                        <v-list-tile-sub-title>Main Worker</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile>
                    <v-list-tile-action><v-icon >people</v-icon></v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>All Workers</v-list-tile-title>
                        <div class="text-xs-center" v-if="project.workers">
                            <v-chip close
                                    color="green"
                                    text-color="white"
                                    v-for="worker in project.workers"
                                    v-bind:key="worker.id"
                                    @input="DeleteWorker(worker.id,worker.name,project.id)">
                                <v-avatar>
                                    <v-icon>account_circle</v-icon>
                                </v-avatar>
                                {{ worker.name }}
                            </v-chip>
                        </div>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            <div v-if="project.main_worker">
                <v-btn v-on:click="createTask(project.id)"
                       v-if="(project.main_worker)&&(project.main_worker.id===1)"
                       flat>
                    Create Task
                </v-btn>
            </div>
            <tasks v-show="showTasks"></tasks>
        </v-card>
    </v-flex>
</template>
<script>
    export default {
        data() {
            return {
                showUserModal:false,
                showTasks:false,
                project: [],
            }
        },
        methods: {
            /*$swal - Sweetalert library */
            DeleteWorker(worker_id,worker_name,project_id){
                this.$swal({
                    title: 'Are you sure?',
                    text: "You won't dismiss "+worker_name+' ?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, dismiss!'
                }).then((result) => {
                    if (result.value) {
                        axios
                            .post('/ajax/projects/'+project_id+'/dismiss',{
                                'worker_id':worker_id,
                            })
                            .then(response=>{
                                this.$swal({
                                    type: response.data.status,
                                    title: response.data.msg,
                                    showConfirmButton: false,
                                    timer: 3000
                                });

                                if(response.data.status === 'success')
                                {
                                    this.getProjectData(project_id);
                                }
                            })
                            .catch(e=>{
                                this.$swal({
                                    type: 'error',
                                    text: e,
                                });
                            })
                    }
                });
            },

            closeProject(){
                bus.$emit('close-project');
            },

            OpenProject(){
                bus.$emit('open-project');
            },

            openUserModal(){
                if(this.showUserModal===false){
                    this.showUserModal=true;
                }else{
                    this.showUserModal=false;
                }
            },

            showTasksView(){
                if(this.showTasks===false){
                    this.showTasks=true;
                }else{
                    this.showTasks=false;
                }
            },

            getProjectData(id){
                axios
                    .get('/projects/'+id)
                    .then(response=>{
                        this.project = response.data;
                        this.loadTask();
                    })
                    .catch(e=>{
                        this.$swal({
                            type: 'error',
                            text: e,
                        });
                    })
            },

            loadTask(){
                bus.$emit('get-tasks',this.project.id);
            },

            Edit(project){
                bus.$emit('edit-project',this.project);
                bus.$emit('modal');
            },

            createTask(id){
                bus.$emit('create-tasks', id);
                bus.$emit('modal');
            }
        },

        mounted(){

            let _this = this;
            /*bus - Sweetalert library */
            bus.$on('show-project',(id)=>{
                _this.getProjectData(id);
            });

            bus.$on('show-tasks-view',()=>{
                _this.showTasks = true;
                _this.OpenProject();
            });
        },

        watch: {
            project(){
                console.log("Project changed", this.project);
            },
            showModal(){
                console.log("Modal changed", this.showModal);
            },
        }
    }
</script>