<template>
    <v-card v-if="tasks.length>0">
        <v-container fluid grid-list-md>
            <v-layout justify-center column>
                <v-subheader>Tasks</v-subheader>
                <v-expansion-panel
                        v-for="task in tasks"
                        :key="task.id">
                    <v-expansion-panel-content hide-actions>
                            <v-layout align-center
                                      row spacer
                                      slot="header"
                                      v-on:click="ShowProject(task.id)">
                                <v-flex class="grey--text"
                                        ellipsis
                                        hidden-sm-and-down
                                        v-if="task.id">
                                    #{{task.id}}
                                </v-flex>
                                <v-flex sm5 md3 hidden-xs-only>
                                    <strong v-if="property.name == 'title'"
                                            v-for="property in task.properties"
                                            v-bind:key="property.id"
                                    >{{property.value}}</strong>
                                </v-flex>
                                <v-flex sm5 md3 hidden-xs-only>
                                    <v-chip>
                                        <v-avatar>
                                            <img src="https://randomuser.me/api/portraits/men/35.jpg" alt="author">
                                        </v-avatar>
                                        Author: {{task.author.name}}
                                    </v-chip>
                                </v-flex>
                                <v-flex sm5 md3 hidden-xs-only>
                                    <v-chip>
                                        <v-avatar>
                                            <img src="https://randomuser.me/api/portraits/men/31.jpg" alt="main worker">
                                        </v-avatar>
                                        Main Worker: {{task.main_worker.name}}
                                    </v-chip>
                                </v-flex>
                                <v-flex sm3 md2 hidden-xs-only>
                                    <strong>Tasks:</strong>
                                    <span class="grey--text">{{ task.tasks }}</span>
                                </v-flex>
                                <v-flex class="grey--text"
                                        ellipsis
                                        hidden-sm-and-down
                                        v-for="property in task.properties"
                                        v-bind:key="property.id"
                                        v-if="property.name == 'time'">
                                    &mdash;
                                    {{property.value}}
                                </v-flex >
                            </v-layout>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-layout>
        </v-container>
    </v-card>
</template>
<script>
    export default {
        data() {
            return {
                tasks: [],
            }
        },

        methods: {

            createTask(parent_id){
                bus.$emit('create-tasks', parent_id);
                bus.$emit('modal');
            },

            ShowProject(id){
                bus.$emit('show-project', id );
            },

            getTasks(parent_id){
                axios
                    .get('/ajax/getProjects',{
                        params:{
                            parent_id: parent_id
                        }
                    })

                    .then(response=>{
                        this.RefreshTasks();
                        this.tasks = response.data;
                        bus.$emit('show-tasks-view');
                    })

                    .catch(e=>{
                        this.$swal({
                            type: 'error',
                            text: e,
                        });
                    })
            },

            RefreshTasks(){
                this.tasks=[];
            }
        },

        mounted() {
            let _this = this;

             bus.$on('get-tasks', function (parent_id){
                 _this.getTasks(parent_id);
             });
        },

        watch: {
            tasks(){
                console.log("tasks changed", this.tasks);
            }
        }
    }
</script>